.profile__edit-button {
  background-image: url(../../.././images/Edit-Button.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  cursor: pointer;
  padding: 0;
  width: 24px;
  height: 24px;
  grid-column: 2;
  border: white;
}
.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.8;
  width: 25px;
  height: 25px;
}
@media screen and (max-width: 1279px) and (min-width: 880px) {
  .profile__edit-button {
    grid-column: 2;
  }
}
@media screen and (max-width: 879px) and (min-width: 320px) {
  .profile__edit-button {
    position: absolute;
    margin-left: 253px;
  }
}
