.page {
  min-width: 320px;
  max-width: 1280px;
  height: auto;
<<<<<<< HEAD
  height: auto;
=======
>>>>>>> develope
  background-color: rgba(0, 0, 0, 1);
  margin-left: auto;
  margin-right: auto;
  height: max-content;
}
 