.footer{
    width: 880px;
    margin: auto;
    border: 1px red dotted;
    color: rgba(84, 84, 84, 1);
}
.footer__copyright{
    margin-top: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%; 
}