  .header{
    width: 880px;
    height: 74px;
    margin: auto;
    padding-top: 45px;
  }
  .header__title{
    width: 173px;
    height: 33px;
  }
  .header__line{
    margin-top: 41px;
  }
  @media screen and (max-width: 1279px) and (min-width: 880px){
    .header{
      width: 480px;
    }
    .header__line{
      width: 480px;
    }
  }