.profile{
   max-width: 880px;
   display: flex;
   flex-direction: row;
   margin: auto;
   margin-top: 40px;
}
.profile__pic{
    width: 120px;
    height: 120px;
}
.profile__info{
    margin-left: 30px;
    display: grid;
    grid-template-rows: 39px;
    grid-template-columns: 373px 24px;
    column-gap: 18px;
    row-gap: 13px;
    color: white;
    height: 39px;
    margin-top: auto;
    margin-bottom: auto;
}
.profile__name{
    margin: 0;
    width: 373px;
    height: 39px;
    font-family: inter;
    font-weight: 500;
    font-size: 42px;
    line-height: 94%;
    font-family: inter-medium;
}
.profile__occupation{
    grid-row: 2;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    height: 22px;
    margin: 0;

}
.profile__edit-button{
    background-image: url(/images/Edit\ Button.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    cursor: pointer;
    padding: 0;
    width: 24px;
    height: 24px;
    grid-column: 2;
    border: white;
}
.profile__add-button{
    background-image: url(/images/Add\ Button.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    cursor: pointer;
    padding: 0;
    border: white;
    width: 150px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 165px;
}
@media screen and (max-width: 1279px) and (min-width: 880px){
    .profile{
    width: 481px;
    height: 120px;
    }
    .profile__pic{
        margin-top: auto;
        margin-bottom: auto;
        width: 90px;
        height: 90px;
    }
    .profile__info{
        margin-top: 30px;
        margin-left: 2px;
        grid-template-columns: 187px;
        grid-template-rows: 39px 39px;
        column-gap: 5px;
        row-gap: 5px;
        width: 246px;
    }
    .profile__name{
        width: 187px;
        height: 20px;
        padding-bottom: 0px;
        font-size: 21px;
    }
    .profile__add-button{
        padding: auto;
        margin-left: 0;
        width: 150px;
        margin-top: 70px;  
    }
}
@media screen and (max-width: 879px) and (min-width: 320px){
    .profile{
        display: flex;
        width: 282px;
        height: 286px;
        flex-direction: column;
        align-items: center;
    }
    .profile__pic{
        margin-bottom: 26px;
    }
    .profile__info{
        margin: auto;
        margin-bottom: 36px;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 282px;
        height: 50px;
    }
    .profile__name{
        margin: auto;
        width: 224px;
        font-size: 22px;
    }
    .profile__occupation{
        margin: auto;
        font-size: 14px;
        margin-top: 0px;
    }
    .profile__edit-button{
        position: absolute;
        margin-left: 233px;
    }
    .profile__add-button{
        background-image: url(/images/Add\ Button-mobile.png);
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: center;
        cursor: pointer;
        width: 282px;
        margin: auto;
    }
}