.elements__card-container-footing-btn_active {
    position: absolute;
    background-image: url(/src/images/heart-active.png);
    top: 23px;
  }
  
  .elements__card-container-footing-btn_active:hover {
    opacity: 1;
  }