.modal__image-card {
    max-width: 75vw;
    max-height: 75vh;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
  }
  
  @media screen and (min-width: 320px) and (max-width: 898px) {
    .modal__image-card {
      height: 299px;
      width: 320px;
    }
  }

  @media screen and (min-width: 899px) and (max-width: 1439px){
    .modal__image-card {
      height: 799px;
      width: 820px;
      margin-left: 70px;
    }
  }
  