.element__card-like-active{
    border: none;
    width: 21px;
    height: 19px;
    position: absolute;
    right: 15px;
    top: 29px;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.element__card-like-active-off{ 
    background-image: url(../../../../../images/heart-active.png);
}
