.element__card-like-active{
    border: none;
    width: 21px;
    height: 19px;    
   
    position: absolute;
    left: 07px;
    top: 0px;
    border-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.element__card-like-active-off{
   
    background-image: url(../../../../../images/heart-active.png);
}
